/*Background image*/
.bg{
    background-image: url(pokemonimage/pikachubgimage.jpg); 
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Logo*/
.logo{
    width: 180px;
    height: 100%;
    margin: 0 auto;
}

/*pokeballs*/
.pokeball1{
    height: 100%;
    width: 30px;
    justify-content: flex-end;
}

/*Types*/
.types{
    background-color: rgb(254, 255, 218);
    padding: 20px;
}

.type{
    border: solid;
}

.symbol {
    width: 30px;
    height: 30px;
}

#inputPokemon {
    width: 250px;
}

.poketype {
    font-size: 15px; 
    font-family: 'Trebuchet MS';
    font-weight: bold;
    width: 6em;
    text-align: center;
    display: inline-block;
    border: .1em solid transparent;
    padding: .1em .2em .2em;
    margin: .1em .015em;
    border-radius: .4em;
    text-transform: uppercase;
    font-size:.8em; 
    color: white;
    text-shadow: 0em 0em .2em black; 
}
.normal{
    background-color: #a8a878; border-top-color: lighten(#a8a878,15%); border-bottom-color: darken(#a8a878,15%);
}

.fighting {
    background-color: #c03028; border-top-color: lighten(#c03028,15%); border-bottom-color: darken(#c03028,15%);
}

.flying {
    background-color: #a890f0; border-top-color: lighten(#a890f0,15%); border-bottom-color: darken(#a890f0,15%);
}

.poison {
    background-color: #a040a0; border-top-color: lighten(#a040a0,15%); border-bottom-color: darken(#a040a0,15%);
}

.ground {
    background-color: #e0c068; border-top-color: lighten(#e0c068,15%); border-bottom-color: darken(#e0c068,15%);
}

.rock {
    background-color: #b8a038; border-top-color: lighten(#b8a038,15%); border-bottom-color: darken(#b8a038,15%); 
}

.bug {
    background-color: #a8b820; border-top-color: lighten(#a8b820,15%); border-bottom-color: darken(#a8b820,15%); 
}

.ghost{
    background-color: #705898; border-top-color: lighten(#705898,15%); border-bottom-color: darken(#705898,15%);
}

.steel {
    background-color: #b8b8d0; border-top-color: lighten(#b8b8d0,15%); border-bottom-color: darken(#b8b8d0,15%); 
}

.fire{
    background-color: #ff6a06; border-top-color: lighten(#ff6a06,15%); border-bottom-color: darken(#ff6a06,15%);
}

.water{
    background-color: #6890f0; border-top-color: lighten(#6890f0,15%); border-bottom-color: darken(#6890f0,15%);
}

.grass{
    background-color: #78c850; border-top-color: lighten(#78c850,15%); border-bottom-color: darken(#78c850,15%);
}

.electric{
    background-color: #f8d030; border-top-color: lighten(#f8d030,15%); border-bottom-color: darken(#f8d030,15%);
}

.psychic{
    background-color: #f85888; border-top-color: lighten(#f85888,15%); border-bottom-color: darken(#f85888,15%);
}

.ice{
    background-color: #98d8d8; border-top-color: lighten(#98d8d8,15%); border-bottom-color: darken(#98d8d8,15%);
}

.dragon{
    background-color: #7038f8; border-top-color: lighten(#7038f8,15%); border-bottom-color: darken(#7038f8,15%);
}

.dark{
    background-color: #705848; border-top-color: lighten(#705848,15%); border-bottom-color: darken(#705848,15%);
}

.fairy{
    background-color: #ffb7fa; border-top-color: lighten(#ffb7fa,15%); border-bottom-color: darken(#ffb7fa,15%);
}

/*Regions*/

.regions{
    background-color: rgb(254, 255, 218);
    padding: 20px;
}

.pokeregion{
    font-size: 15px; 
    font-family: 'Trebuchet MS';
    font-weight: bold;
    width: 6em;
    text-align: center;
    display: inline-block;
    border: .1em solid transparent;
    padding: .1em .2em .2em;
    margin: .1em .015em;
    border-radius: .4em;
    text-transform: uppercase;
    font-size:.8em; 
    color: rgb(0, 0, 0);
}

.kanto {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);;
}

.johto {
    background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
}

.hoenn {
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}

.sinnoh {
    background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
}

.unova {
    background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
}

.kalos {
    background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
}

/*Cards*/

.card{
    border: solid;
    width: 160px;
    height: 160px;
    background-color: rgb(253, 229, 200);
    padding: 10px;
    z-index: 1;
    color: black;
    object-fit: contain;
}

.pokeCard a:hover{text-decoration:none;}

.card:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
    transition-delay: 0.05s;
    z-index: 2;
    background-color: rgb(255, 177, 167);
}

#poke-container {
    justify-content: center;
}

.typebtn {
    padding: 10px;
}

.regionbtn {
    padding: 10px;
}

/*Buttons*/
.button {
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	background-color:#bddbfa;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.button:hover {
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	background-color:#80b5ea;
}
.button:active {
	position:relative;
	top:1px;
}


/*HTML2*/

/*pokemon name*/
#indivpoke {
    padding: 30px;
    font-size: 150%;
    color: rgb(0, 0, 0);
}

/*pokemon images api*/
.pokeimage2 {
    object-fit: contain;
    width: 50%;
    padding: 20px;
    width: 170px;
}

/*Background image for index2*/
.bg2 {
    background-image: url(pokemonimage/pokeballimage.jpg);
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.pokebox {
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    height: 80%;
    width: 80%;
}

#pokechart {
    position: center;
}

.pokedetails {
  background-color: rgb(255, 255, 255,0.5)
}

.types2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.abilities {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*scroll to top button*/

#celebi {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: auto; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 15px; /* Increase font size */
    text-align: center;
    height: 50px;
    width: 50px;
}

